<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
    <style>
        body {
            background-color: #928490;
        }
    </style>
</head>

<body>

    <div
        style="display: flex; flex-direction: row; justify-content: space-around;  background-color: #433E49  ; padding: 20px; color: lightblue;">
        <a href="/homepage">Home</a>
        <a href="/profile">Profile</a>
        <a href="/messages">Chats</a>
        <a href="/connestions">Connect</a>

        <a href="/about">About</a>
        <a href="#" (click)="logout()">Logout</a>

    </div>
    <div class="main-container" style="display: flex; justify-content: center; ">
        <p
            style="width: 60%; margin-top: 50px; font-style: italic; font-weight: bold; text-align: justify; font-size: 20px; color: lightblue">
            Getting ready for a trip to a new country but worried about the language barrier? No worries! BridgeTalk is
            here to help make your journey smoother, more fun, and even more informative. <br>
            BridgeTalk is more than just a language app - it's a cool way to learn some basic words and phrases for your
            trip through fun games and activities. But that's not all! With BridgeTalk, you'll also discover interesting
            facts about the country and its culture, making your experience even richer and more immersive. <br>
            You'll learn useful stuff like how to order food or ask for directions, all in a relaxed and enjoyable way.
            And it's not just about learning words - BridgeTalk also helps you connect with others who speak the same
            language and are in the same country as you. So you can make friends, share tips, and support each other
            while exploring a new place. <br>
            So why wait? Join BridgeTalk now and get ready to explore the world with confidence!
        </p>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="assets/logo_hak_transparent.png" alt="BridgeTalk Logo" style="margin-top: 30px; width: 300px;">
    </div>

    <footer
        style="background-color: #433E49 ; color: white   ; text-align: center; padding: 10px;  width: 100%; margin-top: 200px;">
        <p><b>Email</b>: bridgetalk&#64;gmail.com</p>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>