.skrol {
    overflow-y: auto;
    max-height: 500px;

}

.poruke {
    border: 3px solid;
    max-width: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}

.jednaPoruka {
    border-width: 10px;
    background-color: #433E49;
    color: white;
    border-radius: 25px;
    padding: 10px;


}

.svePoruke:nth-child(even) {
    float: left;
}

.right {
    margin-left: auto;

}

a:hover {
    color: lightblue;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

button {
    border: none;
    background-color: lightblue;
    color: #433E49;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    ;
}

button:hover {
    background-color: #433E49;
    color: lightblue;
}

body {
    background-color: #928490;
    height: 1000px;

}